# Configurações do Servidor
PORT=3000

# Blynk Cloud Conf (o padrão do seu hardware)
BLYNK_TOKEN=8VkWACbjEfjjjUiu2BAZr2NS-BfyUuSp
BLYNK_URL=https://blynk.cloud/external/api/get

# WhatsApp via CallMeBot Conf (Preencha com dados reais depois)
WHATSAPP_PHONE=5581999999999
CALLMEBOT_APIKEY=sua_apikey_aqui

# Banco de Dados e Segurança
MONGO_URI=mongodb://127.0.0.1:27017/iot-saas
JWT_SECRET=super_secret_jwt_key_here
CORS_ORIGIN=http://localhost:3000
